# Frontend
VITE_API_URL=https://byse-pro-finale-production-8750.up.railway.app


# Backend
DATABASE_URL=postgresql://postgres:gEgadlzAkvUxDzndrDIXieRCrSIWJeUh@altaria.proxy.rlwy.net:22084/railway
PORT=3333
JWT_SECRET=troque-esta-chave-por-uma-string-aleatoria-com-pelo-menos-32-caracteres
NODE_ENV=development
DB_POOL_MAX=20
