# Frontend
VITE_API_URL=https://byse-pro-finale-production-cfce.up.railway.app


# Backend
DATABASE_URL=postgresql://postgres:HnTwYTRmFasYskiOJnUzVGOItAsvzamx@altaria.proxy.rlwy.net:31377/railway
JWT_SECRET=troque-esta-chave-por-uma-string-aleatoria-com-pelo-menos-32-caracteres
NODE_ENV=production
DB_POOL_MAX=20
