DATABASE_URL=postgresql://postgres:gEgadlzAkvUxDzndrDIXieRCrSIWJeUh@altaria.proxy.rlwy.net:22084/railway
JWT_SECRET=troque-esta-chave-por-uma-string-aleatoria-com-pelo-menos-32-caracteres
FRONTEND_URL=https://byse-pro-finale-kappa.vercel.app
NODE_ENV=development
DB_POOL_MAX=20
