DATABASE_URL=postgresql://postgres:DLcgqJxbxitPYTTKijOlPfQXDiLTWrki@trolley.proxy.rlwy.net:10863/railway
PORT=3333
JWT_SECRET=troque-esta-chave-por-uma-string-aleatoria-com-pelo-menos-32-caracteres
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
DB_POOL_MAX=20
